/* text */
.centered-text {
  text-align: center;
}

/* images */

.reveal section img {
  background: none;
}
.reveal section img.img-grayscale {
  filter: grayscale(100%);
}

/* grid */

.flex-container {
  display: flex;
}

.flex-container--space-around {
  justify-content: space-around;
}

.flex-container--space-between {
  justify-content: space-between;
}

.flex-container--center {
  justify-content: center;
}

.flex-container--align-items-center {
  align-items: center;
}

/* lists */

.reveal ul.ul--no-style {
  list-style-type: none;
}

/* Colors */
.mirage {
  color: #FF522A;
}

/* blockquotes */
.reveal blockquote footer {
  text-align: right;
  font-size: 0.5em;
}

em {
  text-decoration: underline;
}

input {
  font-size: 0.6em;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animated-safari {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
